<ion-header>
  
  <ion-title>
    <h2>Contacts</h2>
  </ion-title>

</ion-header>

<ion-content class="card=background-page">

<ion-list>

  <ion-item>
    <ion-label>
      <div class="card-title"><h3>Contact #:09560054960</h3></div>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
  <div class="card-title"><h3>Facebook: Jinevibs Avila</h3></div>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
  <div class="card-title"><h3>Gmail: jinevibs.avila@evsu.edu.ph</h3></div>
    </ion-label>
  </ion-item>


</ion-list>
</ion-content>

